/* OrderSummaryPage.css */

.item img {
    width: 50px; /* Ajustez la largeur de l'image selon vos besoins */
    height: auto;
    margin-right: 10px; /* Espacement entre les images */
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.order-summary-container{
    background-color: purple;
}
.payment-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
}
#payment_button {
    width: 20vw;
    height: 8vh;
    font-size: 30px ;
    font-weight: bold;
}
#paid_icon{
    width: 2vw;
    height: 8vh;
    font-weight: bold;
}


