/* OrderSection.css */

.item {
    display: flex;
    align-items: center;
    border-bottom: 4px solid #ddd; /* Bordure inférieure grise pour simuler une ombre */
    padding: 10px;
}
.item-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px;
    font-weight: bold;

}

.item img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 20px;
}

.order-section {
    width: 97%;
    padding: 1vw;
    height: auto;
}
/* OrderSection.css */


.section-title-container {
    position: relative;
}

.black-band {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px; /* Hauteur de la bande noire */
    background-color: green;
    z-index: 0;
}

.section-title {
    position: relative;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.item {
    position: relative;
}

.delete-button {
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
}
